# ========================
# NODE
# ========================
node_modules
node_modules/
dist
dist/
.DS_Store

# ========================
# LOGS
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# ========================
# ENV (keep .env.example committed)
# ========================
.env
.env.dev
.env.*.local

# ========================
# TEMPORARY FOLDERS
# ========================
temp/*
tmp/*
temp
tmp

# ========================
# PRISMA
# ========================
/src/generated/prisma
